[submodule "themes/Coder"]
	path = themes/Coder
	url = https://github.com/razine-bensari/hugo-coder.git
[submodule "public"]
	path = public
	url = https://github.com/razine-bensari/razine-bensari.github.io.git
	branch = master
